:root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

     --input-bg-color: rgba(255, 255, 255, 0.1);
     --input-border-color: rgba(255, 255, 255, 0.2);
     --input-text-color: #fff;
     --btn-primary-bg: #007bff;
     --btn-primary-hover-bg: #0056b3;
     --btn-secondary-bg: #6c757d;
     --btn-secondary-hover-bg: #5a6268;
     --text-color: #fff;
     --success-bg: rgba(40, 167, 69, 0.8);
     --error-bg: rgba(220, 53, 69, 0.8);
}

a {
     font-weight: 500;
     color: #646cff;
     text-decoration: inherit;

     &:hover {
          color: #535bf2;
     }
}

html {
     background: rgba(0, 0, 0, 0.8);
}

body {
     margin: 0;
     display: flex;
     place-items: center;
     min-width: 320px;
     min-height: 100vh;
     background: transparent;
}

h1 {
     font-size: 3.2em;
     line-height: 1.1;
}

.card {
     padding: 2em;
}

#app {
     width: 100%;
     padding: 2rem;
     text-align: center;
}

button {
     border-radius: 8px;
     border: 1px solid transparent;
     padding: 0.6em 1.2em;
     font-size: 1em;
     font-weight: 500;
     font-family: inherit;
     background-color: #1a1a1a;
     cursor: pointer;
     transition: border-color 0.25s;

     &:hover {
          border-color: #646cff;
     }

     &:focus,
     &:focus-visible {
          outline: 4px auto -webkit-focus-ring-color;
     }

     @media (prefers-color-scheme: light) {
          background-color: #f9f9f9;
     }
}

::-webkit-scrollbar {
     width: 5px;
     height: 10px;

     &-track {
          background: transparent;
     }

     &-thumb {
          background: #2d71c9;
          border-radius: 5px;

          &:hover {
               background: #80ffe4;
          }
     }

     &-corner {
          background: #2e2e2e;
     }
}

select {
     appearance: none;
     -webkit-appearance: none;

     background-color: #1a1a1a;
     color: rgba(255, 255, 255, 0.87);
     border-radius: 8px;
     padding: 0.6em 2.5em 0.6em 1.2em;
     font-size: 1em;
     font-family: inherit;
     font-weight: 500;
     cursor: pointer;
     transition: border-color 0.25s;

     &:hover {
          border-color: #646cff;
     }

     &:focus {
          outline: 4px auto -webkit-focus-ring-color;
     }

     option {
          background-color: #1a1a1a;
          color: white;
     }
}
