name: Build Release

on:
     push:
          tags:
             - "v*.*.*"
     workflow_dispatch:


permissions:
     contents: write

jobs:
     build_release:
          runs-on: ubuntu-latest

          steps:
             - uses: actions/checkout@v4

             - name: Setup Node.js
               uses: actions/setup-node@v4
               with:
                    node-version: 20

             - name: Install system dependencies (Linux)
               run: |
                    sudo apt-get update
                    sudo apt-get install -y rpm libarchive-tools

             - name: Install pnpm
               uses: pnpm/action-setup@v2
               with:
                    version: 9
                    run_install: false

             - name: Get pnpm store directory
               shell: bash
               run: |
                    echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

             - uses: actions/cache@v3
               name: Setup pnpm cache
               with:
                    path: ${{ env.STORE_PATH }}
                    key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                    restore-keys: |
                         ${{ runner.os }}-pnpm-store-

             - name: Install dependencies
               run: pnpm install

             - name: Build App
               run: pnpm run build:all
               env:
                    GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

             - name: Zip linux-unpacked
               run: |
                    VERSION=$(node -p "require('./package.json').version")
                    cd dist
                    zip -r "linux-wallpaperengine-gui.zip" linux-unpacked
                    cd ..

             - name: Create GitHub Release
               uses: softprops/action-gh-release@v1
               if: startsWith(github.ref, 'refs/tags/')
               with:
                    files: |
                         dist/*.AppImage
                         dist/*.deb
                         dist/*.rpm
                         dist/*.pacman
                         dist/*.zip
                         dist/latest-linux.yml
                    draft: false
                    prerelease: false
               env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
