name: Build Release

on:
     push:
          tags:
             - 'v*'
     workflow_dispatch:


permissions:
     contents: write

jobs:
     build_release:
          runs-on: ubuntu-latest

          steps:
             - uses: actions/checkout@v4
             - name: Setup Bun
               uses: oven-sh/setup-bun@v2
               with:
                    bun-version: '1'

             - name: Get version from package.json
               run: |
                    VERSION=$(grep -Po '"version"\s*:\s*"\K[^"]+' package.json)
                    echo "PACKAGE_VERSION=${VERSION}" >> $GITHUB_ENV

             - name: Install system dependencies (Linux)
               run: |
                    sudo apt-get update
                    sudo apt-get install -y rpm libarchive-tools libgtk-3-dev libayatana-appindicator3-dev

             - name: Install dependencies
               run: bun install

             - name: Build App
               run: bun run build:all
               env:
                    GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

             - name: Zip linux-unpacked
               run: |
                    cd dist
                    zip -r "linux-wallpaperengine-gui.zip" linux-unpacked
                    cd ..

             - name: Upload Release Assets
               uses: softprops/action-gh-release@v1
               with:
                    generate_release_notes: true
                    files: |
                         dist/*.AppImage
                         dist/*.deb
                         dist/*.rpm
                         dist/*.zip
                         dist/latest-linux.yml
               env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
